[submodule "submodules/radius"]
	path = submodules/radius
	url = https://github.com/radius-project/radius.git
[submodule "submodules/resource-types-contrib"]
	path = submodules/resource-types-contrib
	url = https://github.com/radius-project/resource-types-contrib.git
